# Python virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs or temporary files
*.log
*.tmp
